In [1]:
import requests
from bs4 import BeautifulSoup
import re
import dateutil

In [16]:
result = requests.get("https://www.aishub.net/stations")

In [17]:
result

In [18]:
src = result.text
document = BeautifulSoup(src, 'lxml')

In [19]:
table = document.find("table")

In [ ]:
table

In [14]:
rows = table.find_all("tr")  # Note: this works because find_all is resursive by default

In [ ]:
rows

In [24]:
for row in rows[2:-1]:
    cells = row.find_all(["td", "th"])
    cells_text = [cell.get_text(strip=True) for cell in cells]
    (ID, Status, Uptime, Country, Location, Ships, Distinct, Contributor) = cells_text    
    print(f"{ID}, {Status}, {Uptime}, {Country}, {Location}, {Ships} , {Distinct} , {Contributor}")

2766, , 0 %, Angola, Zaire, 0 , 0 ,
3061, , 100 %, Argentina, Buenos Aires, 33 , 33 ,
2864, , 0 %, Australia, Morayfield, 0 , 0 ,
2995, , 100 %, Australia, Kingston, 6 , 6 ,
3292, , 99 %, Australia, Oakleigh, Victoria, 5 , 5 , SARCNET
2999, , 100 %, Australia, Mount Hicks, 8 , 6 ,
2739, , 90 %, Australia, Townsville, 38 , 38 ,
2360, , 100 %, Australia, Port Hedland, 3 , 3 ,
2637, , 87 %, Australia, Devonport, 7 , 5 ,
2556, , 100 %, Australia, Franklin, 10 , 10 ,
2070, , 100 %, Australia, Nelson Bay, NSW, 53 , 39 ,
2936, , 94 %, Australia, Kettering, 22 , 22 ,
2801, , 0 %, Australia, Glenorcky, 0 , 0 ,
2502, , 100 %, Australia, Scarborough, 13 , 13 ,
2465, , 0 %, Australia, Darwin, 0 , 0 ,
2675, , 100 %, Australia, Sydney, 25 , 11 ,
2701, , 96 %, Australia, O'Connor, 64 , 64 ,
2288, , 100 %, Australia, Johanna, 5 , 5 ,
2234, , 97 %, Australia, Mt Arthur (N.Tasmania), 6 , 6 ,
2798, , 100 %, Austria, Linz, 27 , 27 ,
3175, , 100 %, Austria, Vienna, 2 , 0 ,
2520, , 100 %, Austria, Vienna, 14 , 10 ,
2984, , 100 %, Azerbaijan, Baku, 42 , 42 ,
2445, , 0 %, Bahamas, Freeport, 0 , 0 ,
2127, , 100 %, Belgium, Izegem, 145 , 0 ,
2300, , 100 %, Belgium, Antwerp Harbour 1, 471 , 28 , www.vemasys.com
2404, , 100 %, Belgium, Bruges, 154 , 17 , dotOcean
3152, , 100 %, Belgium, Zeebrugge, 203 , 27 , Citymesh
2061, , 100 %, Belgium, Ostend, 40 , 0 ,
3075, , 100 %, Belgium, Aalst, 3 , 3 ,
2276, , 100 %, Belgium, Schilde, 311 , 4 ,
3359, , 83 %, Belgium, Schoten, 46 , 2 ,
3459, , 100 %, Belgium, Oostende, 146 , 2 , Flanders Marine Institute
2723, , 0 %, Belgium, Antwerp Harbour 2, 0 , 0 , www.vemasys.com
3215, , 86 %, Belgium, Antwerp, 1 , 0 ,
2145, , 100 %, Belgium, Antwerp2, 506 , 43 , Tresco Engineering
2981, , 95 %, Belgium, Oostende, 118 , 1 ,
2292, , 100 %, Belgium, Gent, 428 , 250 ,
2546, , 100 %, Belgium, Merchtem, 26 , 3 ,
3249, , 88 %, Belgium, Antwerp, 133 , 0 ,
3483, , 9 %, Belgium, WIjnegem, 49 , 12 ,
2709, , 0 %, Belgium, Watervliet, St Laureins, 0 , 0 ,
3489, , 100 %, Brazil, Maceio, 3 , 3 ,
2929, , 0 %, Brazil, Curitiba, 0 , 0 ,
2517, , 100 %, Brazil, Belem, 171 , 53 ,
2850, , 100 %, Brazil, Fortaleza, 12 , 12 , German Aerospace Center (DLR)
3019, , 0 %, Bulgaria, Varna, 0 , 0 ,
2576, , 0 %, Bulgaria, Varna, 0 , 0 ,
2372, , 99 %, Canada, Vancouver, 133 , 29 ,